:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #161a30;
  background-color: #f0ece5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gap: 3rem;
  --distracted: #ea906c;
  --full_energy: #65b741;
  --sleepy: #9bb8cd;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

.app {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  gap: var(--gap);
  padding: 1rem;
  box-sizing: border-box;
}

.title {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.mood-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--gap) / 2);
}
.mood-item {
  aspect-ratio: 1;
}
.mood-button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: calc(var(--gap) / 2);
  gap: calc(var(--gap) / 3);
  border-radius: 0.5rem;
  font-size: 1rem;
  border: 1rem solid transparent;
  cursor: pointer;
  transition: all 0.25s;

  background-color: var(--mood-button-color);
  color: color-mix(in srgb, var(--mood-button-color), #000);
}

.mood-button:hover {
  border-color: color-mix(in srgb, var(--mood-button-color), #000);
  transform: scale(1.125);
}
.mood-button:focus,
.mood-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.mood-button--distracted {
  --mood-button-color: var(--distracted);
}
.mood-button--full_energy {
  --mood-button-color: var(--full_energy);
}
.mood-button--sleepy {
  --mood-button-color: var(--sleepy);
}

.mood-button__symbol {
  font-size: 3rem;
}

/* inherited from vite */
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* inherited from vite */
